body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100%;
    margin: 0;
    background-color: #F4FBFF;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.container {
    width: 896px;
    height: 219px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Primary-Main, #1B4965);
    margin-left: 180px;
    margin-top: 10px;
}

.container label {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    display: block;
    padding: 40px;
}

.date {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    margin-left: 40px;
    margin-top: 10px;
}

.date img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.date input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    border: none;
    background: transparent;
    outline: none;
}

.location {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    transform: translateY(5px);
    margin-left: 20px;
}

.location img {
    width: 20px;
    height: 20px;
}

.location input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background: transparent;
    outline: none;
}

.location input::placeholder {
    color: var(--Neutral-03, #E4E8EC);
}

.upload {
    width: 229px;
    height: 139px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Neutral-06, #BABEC1);
    margin-left: 620px;
    margin-top: -140px;
}

.upload img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    margin-left: 75px;
    margin-top: 15px;
}

.upload input {
    align-self: stretch;
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-left: 10px;
}

.note, .itinerary {
    margin-left: 180px;
    margin-top: 32px;
}

.note img, .itinerary img {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    transform: translateY(6px);
}

.note label, .itinerary label {
    color: var(--Neutral-10, #0A0A0A);
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}

.notes {
    display: flex;
    width: 850px;
    padding: 16px 24px;
    align-items: center;
    align-content: center;
    gap: 8px;
    flex-wrap: wrap;
    border-radius: 100px;
    border: 1px solid var(--Neutral-05, #BABEC1);
    margin-left: 180px;
    margin-top: 20px;
}

.notes input {
    color: var(--Neutral-10, #0A0A0A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.dates {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    width: 200px;
    margin-left: 830px;
    margin-top: -45px;
}

.dates input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    border: none;
    background: transparent;
    outline: none;
}

.himbauan {
    width: 473px;
    margin-left: 400px;
    margin-top: 20px;
}

.himbauan h5, .himbauan p {
    color: var(--Neutral-06, #BABEC1);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.himbauan p {
    margin-top: -25px;
}

.empty {
    width: 294px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 600px;
    margin-top: 20px;
}

.empty h5 {
    color: var(--Neutral-05, #BABEC1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

button {
    width: 294px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 100px;
    color: var(--Neutral-06, #BABEC1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    padding: 12px;
    margin-left: 500px;
}

@media (max-width: 768px) {
      main {
        padding: 10px;
      }

      .title {
        text-align: center;
      } 

      .date {
        transform: translateY(-40px);
      }

      .location {
        transform: translateY(25px);
        margin-left: -210px;
        width: 200px;
      }

      .container {
        margin-left: -10px;
        width: 750px;
      }

      .note, .notes,
      .itinerary {
        margin-left: -10px;
      }

      .notes {
        width: 700px;
      }

      .dates {
        transform: translateX(-335px);
      }

      .upload {
       transform: translateX(-120px);
      }

      .himbauan {
        transform: translateX(-250px);
      }

      .empty {
        transform: translateX(-250px);
      }

      button {
        transform: translateX(-250px);
        max-width: none;
      }
}