body {
    width: 100%;
    height: 100%;
}

header {
    margin-left: 40px;
    margin-bottom: 10px;
}

main {
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100%;
    margin: 0;
    background-color: #F4FBFF;
}

.logo {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 20px;
    color: #1B4965;
}

.search {
    display: flex;
    align-items: center;
    background-color: #F4FBFF;
    border-radius: 20px;
    padding: 8px 12px;
    width: 300px;
    margin-left: 130px;
    margin-top: -40px;
}

.search img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.search input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #555;
    width: 100%;
}

.nav-bar {
    width: 100%;
    align-items: flex-end;
    text-align: right;
    color: #1B4965;
    font-size: 18px;
    font-weight: 500;
    margin-left: -200px;
    margin-top: -30px;
    text-decoration: none;
}

.nav-bar a{
    color: var(--Primary-Main, #1B4965);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-decoration: none;
}

.profile {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: right;
    margin-left: 1100px; 
    margin-top: -30px;
}

.ellipse {
    display: block;
}

#profil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.container {
    width: 896px;
    height: 219px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Primary-Main, #1B4965);
    margin-left: 180px;
    margin-top: 10px;
}

.container label {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    display: block;
    padding: 40px;
}

.date {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    margin-left: 40px;
    margin-top: 10px;
}

.date img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.date input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    border: none;
    background: transparent;
    outline: none;
}

.location {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    transform: translateY(5px);
    margin-left: 20px;
}

.location img {
    width: 20px;
    height: 20px;
}

.location input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background: transparent;
    outline: none;
}

.location input::placeholder {
    color: var(--Neutral-03, #E4E8EC);
}

.upload {
    width: 229px;
    height: 139px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Neutral-06, #BABEC1);
    margin-left: 620px;
    margin-top: -140px;
}

.upload img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    margin-left: 75px;
    margin-top: 15px;
}

.upload input {
    align-self: stretch;
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-left: 10px;
}

.note, .itinerary {
    margin-left: 180px;
    margin-top: 32px;
}

.note img, .itinerary img {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    transform: translateY(6px);
}

.note label, .itinerary label {
    color: var(--Neutral-10, #0A0A0A);
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}

.notes {
    display: flex;
    width: 850px;
    padding: 16px 24px;
    align-items: center;
    align-content: center;
    gap: 8px;
    flex-wrap: wrap;
    border-radius: 100px;
    border: 1px solid var(--Neutral-05, #BABEC1);
    margin-left: 180px;
    margin-top: 20px;
}

.notes input {
    color: var(--Neutral-10, #0A0A0A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.dates {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Neutral-06, #BABEC1);
    width: 200px;
    margin-left: 830px;
    margin-top: -45px;
}

.dates input {
    color: var(--Neutral-03, #E4E8EC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    border: none;
    background: transparent;
    outline: none;
}

.himbauan {
    width: 473px;
    margin-left: 400px;
    margin-top: 20px;
}

.himbauan h5, .himbauan p {
    color: var(--Neutral-06, #BABEC1);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.himbauan p {
    margin-top: -25px;
}

.empty {
    width: 294px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 600px;
    margin-top: 20px;
}

.empty h5 {
    color: var(--Neutral-05, #BABEC1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

button {
    width: 294px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 100px;
    color: var(--Neutral-06, #BABEC1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    padding: 12px;
    margin-left: 500px;
}
