body {
    width: 100%;
    height: 100%;
}

header {
    margin-left: 40px;
    margin-bottom: 10px;
}

main {
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #F4FBFF;
}

.logo {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 20px;
    color: #1B4965;
}

.search {
    display: flex;
    align-items: center;
    background-color: #F4FBFF;
    border-radius: 20px;
    padding: 8px 12px;
    width: 300px;
    margin-left: 130px;
    margin-top: -40px;
}

.search img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.search input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #555;
    width: 100%;
}

.nav-bar {
    width: 100%;
    align-items: flex-end;
    text-align: right;
    color: #1B4965;
    font-size: 18px;
    font-weight: 500;
    margin-left: -200px;
    margin-top: -30px;
    text-decoration: none;
}

.nav-bar a{
    color: var(--Primary-Main, #1B4965);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-decoration: none;
}

.profile {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: right;
    margin-left: 1100px; 
    margin-top: -30px;
}

.ellipse {
    display: block;
}

#profil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.itinerary {
    display: flex;
}

.liburan-malang-1 {
    margin-left: 210px;
}

.liburan-malang-2 {
    margin-left: 30px;
}

#image {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    aspect-ratio: 3/4;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#bulet {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    fill: var(--Neutral-01, #FFF);
    transform: translateY(-190px);
    margin-left: 290px;
}

#pensil, #sampah {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    transform: translateY(-195px);
    margin-left: -40px;
}

.delete {
    margin-left: 50px;
    margin-top: -45px;
}

.detail-kww {
    display: flex;
    width: 368px;
    height: 80px;
    padding: 20px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 0px 0px 12px 12px;
    background: var(--Primary-Main, #1B4965);
    margin-top: -53px;
}

.detail-kww label {
    align-self: stretch;
    color: var(--Neutral-01, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.date, .location {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Secondary-Main, #CAE9FF);
    height: 25px;
}

.location {
    margin-left: 240px;
    margin-top: -52px;
}

.date img, .location img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.date p, .location p {
    color: var(--Primary-Main, #1B4965);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
}

.add-itinerary {
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    width: 200px;
    height: 40px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Primary-Main, #1B4965);
    margin-top: 40px;
    margin-left: 530px;
}

.add-itinerary img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.add-itinerary p {
    color: var(--Neutral-01, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}